```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.*
.env
.env.*
pyproject.toml.bak
*.pot
*.po
*.mo
.sass-cache/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.dmypy.json
dmypy.json
.pytest_cache/
.hypothesis/
.tox/
.cover/
.installed.cfg
.lib/
.eggs/
.egg-info/
*.egg-info/
*.egg
```